body {
    font-family: "Quicksand", sans-serif;
    color: #c4c4c4;
    background-color: #1d1d1d;
    margin: 0 auto;
    overflow-y: hidden;
    text-transform: uppercase;
}

/* Header */

nav {
    background-color: #0c0c0c;
}

nav ul {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5rem;
    list-style-type: none;
}

nav a {
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #c4c4c4;
    text-transform: uppercase;
}

form {
    display: none;
}

/* Main */

.container {
    display: grid;
    grid-template: 250px / repeat(4, 1fr);
    grid-gap: 2rem;
    margin: 2rem;
}

.container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0c0c0c;
    border-radius: 0.9rem;
}

.container-card h1, .container-card p {
    margin: 0;
}

.container-card:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition-duration: .3s;
}

.num {
    font-size: 2.5rem;
}

/* Secundário */

.container-secundario {
    display: grid;
    grid-template: 450px / repeat(2, 1fr);
    grid-gap: 2rem;
    text-align: center;
    margin: 2rem;
}

.container-secundario-card {
    background-color: #0c0c0c;
    border-radius: 0.9rem;
}

.container-secundario-card h1 {
    padding-bottom: 1rem;
}

.container-secundario-card:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition-duration: .3s;
}

table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}

tr, td {
    border-bottom: 1px solid #c4c4c4;
    padding: 1.25rem;
}
